	#header{
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: #232524;
		color: white;
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 25;
		display: inline-block;
	}
	
	#title{
		font-size: 30;
		display: inline;
		whitespace: nowrap;
		horizontal-align: center;
	}
	
	#image{
		display: inline;
	}
	
	#links{
		display: inline;
		whitespace: nowrap;
	
	}
	
	#calendar{
		position: absolute;
		top: 110px;
		left: 20px;
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 25;
	}
	
	#settings>p{
		font-size: 14;
	}
	
	#settings{
		position: absolute;
		top: 110px;
		left: 20px;
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 25;
	}
	
	a:link, a:visited, a:active {
		color: inherit;
		text-decoration: none;
	}

	a:hover{
		color: #d9373c;
	}
	
	#buttons{
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	
	table#top{
		border: none;
		position: abosolute;
		top: 0px;
		left: 260px;
		vertical-align: bottom;
		font: inherit;
		color: inherit;

	}
	
	table#top td{
		height: 70px;
		vertical-align: bottom;
		padding-right: 25px;
	}
	
	table#shifts td{
		width: 110px;
		vertical-align: middle;
		text-align: center;
	}
	
	#panel{
		position: absolute;
		top: 110px;
		left: 500px;
		width: 400px;
		height: 327px;
		font-family: "Trebuchet MS", Verdana, sans-serif;
		font-size: 25;
	}
	
	#panel>h3{
		text-align: center;
	}
	
	#panel>p{
		text-align: center;
		font-size: 14;
	}
	
	#footer{
		position:absolute;
		bottom:0;
		width:100%;
		height:40px;   /* Height of the footer */
		background:#6cf;
		font-family: "Trebuchet MS", Verdana, sans-serif;
	}
	
	#footer>p{
		text-align:center;
	}
	
	#panel2{
		position: absolute;
		top: 110px;
		left: 900px;
		width: 300px;
		height: 327px;
	}